In [20]:
from pathlib import Path
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
xle = yf.Ticker("XLE")
print(xle)

yfinance.Ticker object <XLE>

In [22]:
icln = yf.Ticker("ICLN")
print(icln)

yfinance.Ticker object <ICLN>

In [23]:
amlp = yf.Ticker("AMLP")
print(amlp)

yfinance.Ticker object <AMLP>

In [24]:
vde = yf.Ticker("VDE")
print(vde)

yfinance.Ticker object <VDE>

In [25]:
xop = yf.Ticker("XOP")
print(xop)

yfinance.Ticker object <XOP>

In [26]:
xle_df = yf.download("XLE", start="2010-01-01", end="2021-06-23")

[*********************100%***********************]  1 of 1 completed

In [27]:
icln_df = yf.download("ICLN", start="2010-01-01", end="2021-06-23")

[*********************100%***********************]  1 of 1 completed

In [28]:
vde_df = yf.download("VDE", start="2010-01-01", end="2021-06-23")

[*********************100%***********************]  1 of 1 completed

In [29]:
xop_df = yf.download("XOP", start="2010-01-01", end="2021-06-23")

[*********************100%***********************]  1 of 1 completed

In [30]:
amlp_df = yf.download("AMLP", start="2010-01-01", end="2021-06-23")

[*********************100%***********************]  1 of 1 completed

In [31]:
xle_df = xle_df.reset_index()
xle_df["pctChange"]=xle_df["Adj Close"].pct_change()
xle_df.columns=['Date','xle_Open','xle_High','xle_Low','xle_Close','xle_Adj_Close','xle_Volume','xle_pctChange']
xle_df.set_index('Date', inplace=True)
xle_df

,xle_Open,xle_High,xle_Low,xle_Close,xle_Adj_Close,xle_Volume,xle_pctChange
Date,,,,,,,
2010-01-04,57.919998,58.810001,57.790001,58.810001,41.131721,16928400,NaN
2010-01-05,58.889999,59.410000,58.619999,59.290001,41.467434,17368100,0.008162
2010-01-06,59.320000,60.180000,59.189999,60.000000,41.964005,24351900,0.011975
2010-01-07,59.740002,60.009998,59.299999,59.910000,41.901070,17449500,-0.001500
2010-01-08,59.700001,60.349998,59.490002,60.299999,42.173832,13344300,0.006510
...,...,...,...,...,...,...,...
2021-06-16,56.099998,56.549999,55.400002,55.889999,55.324589,30393200,-0.005339
2021-06-17,55.750000,56.220001,53.259998,53.990002,53.443813,53470900,-0.033995
2021-06-18,52.860001,53.529999,52.349998,52.389999,51.859997,55840300,-0.029635
2021-06-21,52.290001,54.169998,52.290001,54.070000,54.070000,42183400,0.042615
2021-06-22,53.939999,54.639999,53.349998,54.430000,54.430000,24172200,0.006658

In [32]:
icln_df = icln_df.reset_index()
icln_df["pctChange"]=icln_df["Adj Close"].pct_change()
icln_df.columns=['Date','icln_Open','icln_High','icln_Low','icln_Close','icln_Adj_Close','icln_Volume','icln_pctChange']
icln_df.set_index('Date', inplace=True)
icln_df

,icln_Open,icln_High,icln_Low,icln_Close,icln_Adj_Close,icln_Volume,icln_pctChange
Date,,,,,,,
2010-01-04,22.780001,22.850000,22.549999,22.790001,17.177050,25900,NaN
2010-01-05,23.160000,23.400000,23.049999,23.400000,17.636810,19600,0.026766
2010-01-06,23.510000,23.840000,23.510000,23.600000,17.787552,19000,0.008547
2010-01-07,23.600000,23.790001,23.510000,23.650000,17.825237,45200,0.002119
2010-01-08,23.790001,23.969999,23.639999,23.860001,17.983517,17800,0.008880
...,...,...,...,...,...,...,...
2021-06-16,22.660000,23.000000,22.500000,22.660000,22.660000,3852100,0.005324
2021-06-17,22.459999,22.860001,22.400000,22.790001,22.790001,3491400,0.005737
2021-06-18,22.530001,22.650000,22.389999,22.410000,22.410000,4546500,-0.016674
2021-06-21,22.520000,22.700001,22.299999,22.639999,22.639999,3541900,0.010263
2021-06-22,22.549999,22.950001,22.510000,22.870001,22.870001,3588300,0.010159

In [33]:
vde_df = vde_df.reset_index()
vde_df["pctChange"]=vde_df["Adj Close"].pct_change()
vde_df.columns=['Date','vde_Open','vde_High','vde_Low','vde_Close','vde_Adj_Close','vde_Volume','vde_pctChange']
vde_df.set_index('Date', inplace=True)
vde_df

,vde_Open,vde_High,vde_Low,vde_Close,vde_Adj_Close,vde_Volume,vde_pctChange
Date,,,,,,,
2010-01-04,84.480003,85.989998,84.480003,85.970001,64.775093,209200,NaN
2010-01-05,86.040001,86.879997,85.739998,86.849998,65.438156,182600,0.010236
2010-01-06,86.769997,88.000000,86.629997,87.849998,66.191635,191300,0.011514
2010-01-07,87.559998,87.790001,86.820000,87.639999,66.033394,138100,-0.002391
2010-01-08,87.379997,88.309998,87.089996,88.300003,66.530685,103400,0.007531
...,...,...,...,...,...,...,...
2021-06-16,78.849998,79.489998,77.889999,78.699997,77.996597,970200,-0.003419
2021-06-17,78.400002,79.040001,74.660004,75.739998,75.063049,1630900,-0.037611
2021-06-18,74.089996,75.190002,73.559998,73.620003,72.962006,1403000,-0.027990
2021-06-21,73.680000,76.209999,73.680000,76.070000,76.070000,1250400,0.042597
2021-06-22,75.959999,76.879997,75.070000,76.629997,76.629997,780800,0.007362

In [34]:
amlp_df = amlp_df.reset_index()
amlp_df["pctChange"]=amlp_df["Adj Close"].pct_change()
amlp_df.columns=['Date','amlp_Open','amlp_High','amlp_Low','amlp_Close','amlp_Adj_Close','amlp_Volume','amlp_pctChange']
amlp_df.set_index('Date', inplace=True)
amlp_df

,amlp_Open,amlp_High,amlp_Low,amlp_Close,amlp_Adj_Close,amlp_Volume,amlp_pctChange
Date,,,,,,,
2010-08-25,75.750000,76.550003,74.550003,74.900002,33.501637,185700,NaN
2010-08-26,75.500000,75.500000,75.000000,75.349998,33.702904,252820,0.006008
2010-08-27,75.599998,75.599998,75.000000,75.500000,33.770016,272740,0.001991
2010-08-30,75.500000,75.500000,74.800003,74.800003,33.456902,204480,-0.009272
2010-08-31,75.000000,75.150002,74.400002,74.750000,33.434551,68940,-0.000668
...,...,...,...,...,...,...,...
2021-06-16,38.400002,38.849998,38.090000,38.730000,38.730000,2161100,0.012284
2021-06-17,38.619999,38.709999,36.270000,36.830002,36.830002,4702900,-0.049058
2021-06-18,36.439999,36.770000,35.799999,35.820000,35.820000,3985500,-0.027423
2021-06-21,36.169998,37.270000,36.169998,37.009998,37.009998,3374700,0.033222
2021-06-22,37.020000,37.060001,36.450001,36.860001,36.860001,1765400,-0.004053

In [35]:
xop_df = xop_df.reset_index()
xop_df["pctChange"]=xop_df["Adj Close"].pct_change()
xop_df.columns=['Date','xop_Open','xop_High','xop_Low','xop_Close','xop_Adj_Close','xop_Volume','xop_pctChange']
xop_df.set_index('Date', inplace=True)
xop_df

,xop_Open,xop_High,xop_Low,xop_Close,xop_Adj_Close,xop_Volume,xop_pctChange
Date,,,,,,,
2010-01-04,167.600006,172.600006,167.600006,172.559998,149.911850,736850,NaN
2010-01-05,172.880005,174.800003,171.960007,174.000000,151.162796,1503350,0.008345
2010-01-06,173.839996,176.559998,172.919998,175.960007,152.865585,920850,0.011265
2010-01-07,175.440002,175.440002,172.559998,174.919998,151.962067,593350,-0.005911
2010-01-08,174.279999,176.320007,172.759995,176.279999,153.143585,557000,0.007775
...,...,...,...,...,...,...,...
2021-06-16,97.410004,98.400002,95.730003,97.449997,97.077370,6623500,-0.005308
2021-06-17,97.010002,97.919998,91.180000,93.019997,92.664314,12656300,-0.045459
2021-06-18,91.000000,93.089996,90.510002,91.010002,90.662003,9640200,-0.021608
2021-06-21,91.650002,95.419998,91.339996,95.370003,95.370003,7619700,0.051929
2021-06-22,94.980003,96.169998,93.599998,95.900002,95.900002,6075800,0.005557

In [37]:
stocks_frames = [xle_df, icln_df,xop_df,amlp_df,vde_df]
stocks_data = pd.concat(stocks_frames, axis=1, join="inner", ignore_index=False)
stocks_data

,xle_Open,xle_High,xle_Low,xle_Close,xle_Adj_Close,xle_Volume,xle_pctChange,icln_Open,icln_High,icln_Low,...,amlp_Adj_Close,amlp_Volume,amlp_pctChange,vde_Open,vde_High,vde_Low,vde_Close,vde_Adj_Close,vde_Volume,vde_pctChange
Date,,,,,,,,,,,,,,,,,,,,,
2010-08-25,51.110001,51.400002,50.419998,51.240002,36.126720,19336700,-0.003113,15.090000,15.280000,14.930000,...,33.501637,185700,NaN,74.750000,75.279999,73.879997,75.080002,56.569920,184000,-0.002126
2010-08-26,51.529999,51.700001,50.490002,50.779999,35.802399,10976800,-0.008977,15.450000,15.500000,15.260000,...,33.702904,252820,0.006008,75.419998,75.709999,74.110001,74.419998,56.072643,114200,-0.008790
2010-08-27,51.080002,52.200001,50.330002,52.099998,36.733067,19708700,0.025995,15.470000,15.760000,15.350000,...,33.770016,272740,0.001991,74.889999,76.529999,73.849998,76.480003,57.624760,83300,0.027680
2010-08-30,52.000000,52.240002,51.330002,51.340000,36.197224,9156600,-0.014587,15.570000,15.780000,15.450000,...,33.456902,204480,-0.009272,76.169998,76.529999,75.370003,75.410004,56.818562,44500,-0.013990
2010-08-31,51.110001,51.599998,50.810001,51.200001,36.098518,17578700,-0.002727,15.450000,15.650000,15.450000,...,33.434551,68940,-0.000668,75.120003,75.739998,74.720001,75.180000,56.645271,53400,-0.003050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-16,56.099998,56.549999,55.400002,55.889999,55.324589,30393200,-0.005339,22.660000,23.000000,22.500000,...,38.730000,2161100,0.012284,78.849998,79.489998,77.889999,78.699997,77.996597,970200,-0.003419
2021-06-17,55.750000,56.220001,53.259998,53.990002,53.443813,53470900,-0.033995,22.459999,22.860001,22.400000,...,36.830002,4702900,-0.049058,78.400002,79.040001,74.660004,75.739998,75.063049,1630900,-0.037611
2021-06-18,52.860001,53.529999,52.349998,52.389999,51.859997,55840300,-0.029635,22.530001,22.650000,22.389999,...,35.820000,3985500,-0.027423,74.089996,75.190002,73.559998,73.620003,72.962006,1403000,-0.027990
2021-06-21,52.290001,54.169998,52.290001,54.070000,54.070000,42183400,0.042615,22.520000,22.700001,22.299999,...,37.009998,3374700,0.033222,73.680000,76.209999,73.680000,76.070000,76.070000,1250400,0.042597
2021-06-22,53.939999,54.639999,53.349998,54.430000,54.430000,24172200,0.006658,22.549999,22.950001,22.510000,...,36.860001,1765400,-0.004053,75.959999,76.879997,75.070000,76.629997,76.629997,780800,0.007362

In [ ]:
stocks_data.to_csv('stocksticker.csv')